*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
}

header .logo span {
    color: #F2A137;
}

header ul {
    position: relative;
    display: flex;
    gap: 40px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
}

#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #191219;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

#home .content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
} 

#home .imgbx{

}

#home .imgbx img{
    width: 500px;
}
